@using laba.Models
@model List<laba.Models.QuestRoom>

@{
    ViewBag.Title = "Quest rooms list";
}

@if (Model != null && Model.Count > 0)
{
    <ul class="quests-list" style="flex-direction: column">
        @foreach (QuestRoom room in Model)
        {

            <li class="quest-item">
                <div class="jumbotron">
                    <h1 class="display-4">@room.Title</h1>
                    <h2 class="lead">@room.Description</h2>
                    <hr class="my-4">
                    <h3>Duration: @room.DurationTime</h3>
                    <p class="lead">
                        @Html.ActionLink("Learn More", "Details", new { Id = room.Id }, new { @class = "btn btn-primary btn-raised btn-learn-more" })
                    </p>
                </div>
            </li>

        }
    </ul>
}
else
{
    <div style="text-align:center"><h3>No data to display</h3></div>
}
