.splitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}
.drop-shadow {
    box-shadow: 0 10px 20px #eee;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
}

h1 {
    background: #3F51B5;
    color: #fff;
    padding: 20px;
}

.splitter > span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3F51B5;
    margin: 10px;
}

.mdl-textfield {
    width: 100%;
}

.mdl-textfield__input {
    margin-bottom: 8px;
    padding: 10px;
}

.mdl-textfield__label {
    padding-top: 14px;
    padding-left: 10px;
}

.mdl-textfield__input,
.mdl-textfield__label {
    font-size: 30px;
}

.icon-container {
    text-align: center;
    padding-top: 40px;
}

.fas {
    font-size: 40px;
}

.fear-level-slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
}

.fear-level-slider > span {
    font-weight: bold;
    font-size: 20px;
}


.range-title,
.range-value {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.range-value {
    color: #3F51B5;
}

.mdl-slider__container {
    width: 100%;
}


#addPhoneButton {
    margin-top: -20px;
    margin-left: 20px;
}

