ul {
    list-style-type: none;
}

.quests-list {
    
}

.myCarousel {
    max-height: 620px;
    overflow: hidden;
    margin-top: 40px;
}

.carousel-inner, .carousel-item {
    max-height: 620px;
}

.darken-img {
    filter: brightness(40%);
}

.admin-quests-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.index-splitter {
    width: 50px;
    height: 3px;
    background: #FF4081;
    margin: 20px auto 0 auto;
}

.quest-item {
    text-align: center;
    margin: 40px 0;
    overflow: hidden;

    position: relative;
}

.quest-item::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 30px;
    background: #FF4081;

    top:-10px;
    right: -23px;
    transform: rotate(45deg)
} 

.quest-item-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    margin: 30px auto;
    box-shadow: 0 0 10px #ccc;
}

.quest-item-title {
    color: #1d93eb;
    font-weight: bold;
    font-size: 55px;
    position: relative;
}

.quest-item-title::before {
    position: absolute;
    content: '';
    background: rgba(212, 220, 30, 0.2);
    left: -20px;
    right: -20px;
    height: 0%;
    transition: 0.2s;
    bottom: 0;
}

.quest-item-title:hover {
    text-decoration: none;
    color: #1d93eb;
}

.quest-item-title:hover::before {
    height: 100%;
}

.quest-item-desc {
    color: #393939;
}

.quest-item-fear {
    font-size: 25px;
    font-weight: bold;
}

.btn-learn-more {
    transform: scale(1.4);
    margin-left: 20px;
}

.header {
    height: 80px;
    box-shadow: 0 5px 10px #eee;
}

.header-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.header-nav > li > a {
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    color: #565656;
    font-size: 20px;
    margin: 15px;
    border-radius: 5px;
    transition: .2s;
    box-shadow: 0 5px 10px #eee;

}

.header-nav > li > a:hover {
    text-decoration: none;
    background: #FF4081;
    color: #eee;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.add-room-button {
    transform: scale(1.4);
    margin-top: 40px;
}

.add-room-button:hover {
    text-decoration: none;
}

.fear-level-slider {
    display: flex;
}

.filter-container {
    padding-top: 40px;
}

.range-title {
    margin: 0 10px 0 30px
}



